</br>

<div class="container is-fluid" id="meg_txtArea">
    <div class="notification">
        <div class="field">
          <p class="control">
            <textarea class="textarea" placeholder="Write your message" id="msg_body"></textarea>
          </p>
        </div>
        
        <p class="control">
            <button class="button is-primary" id="msg_submit">Submit</button>
        </p>
    </div>
</div>
<%= render 'partials/recieve' %>

<script>
    $(document).ready(function(){
    $("#msg_submit").click(function(){
       
       var body = $("#msg_body").val();
       
       var d = {
           'message':{
               'body' : body
           }
       };
       
       $.ajax({
          type: "POST",
          url: "/messages",
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: d
       }).success(function(json){
           console.log("success", json);
       });
       
       $("#msg_body").val("");
       
    });
    
    $("#receive_msg").click(function(){
        $('#body_r').empty();
        $.ajax({
          type: "GET",
          url: "/recieve",
        }).success(function(json){
            $("#body_r").append(json[0].body);
            $("#meg_txtArea").fadeOut('slow', function(){
                $("#msg_collapse").slideDown('slow');
            });
            console.log(json[0]);
        });
               
    });
    
    
});
</script>