<div class="box" id="header">
<div class="container is-fluid">
<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Welcome to AvocaDo</p>
          <p class="subtitle">
            Because thre's always something going on in your Campus :P,
            Organize Campus Events, Study groups and everything that is hip about the Campus Life.
          </p>
        </article>
    </div>
  </div>
</div>
</div>
</div>