<div class="box" id="header">
<div class="container is-fluid">
<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">Welcome to NoteShare</p>
          <p class="subtitle">Share notes, books and all the other study materials. It's the social network way of studying. Because sharing is caring ;) </p>
        </article>
    </div>
  </div>
</div>
</div>
</div>