<div class="box" id="header">
<div class="container is-fluid">
<div class="tile is-ancestor">
  <div class="tile is-vertical is-12">
    <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">How romantic is the concept of a "Message in a Bottle?"</p>
          </br>
          <p>
            How about if there was some kind of digital service like this.
            People can put their Messages (text, photos) in a "bottle" and send it out to the world. On the other side, 
            people receive the messages and can decide to either (A) keep the message or (B) throw it back. If a message gets discarded more than x times 
            it would be transferred into a "unwanted" messages area.
          </p>
          <p>
            Once you decide to keep that message, it's yours, nobody else can receive/see it. 
            You can find out more about the person who sent out the "bottle" and decide if you want to send back a message (or not).
          </p>
        </article>
    </div>
  </div>
  </br>
</div>
</div>

</br>
<div class="container is-fluid">
     <div class="notification">
       <small>This idea was the branchild of Gordon James Campbell from ideaswatch.com :)</small>
     </div>
  </div>


</div>