<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css">

<div class="container is-fluid">
<div class="is-half">
<div class="box">
<nav class="nav">
  <div class="columns">
    <% if logged_in? %>
      <div class="column"><a class="button" href="https://new-note-share-shadid121.c9users.io/">Home</a></div>
    <% else %>
      <div class="column"><a class="button" id="home">Home</a></div>
    <% end %>
  </div>
  <div class="nav-center">
    <div class="block">
      <% if logged_in? %>
        <%= link_to "Create Message", new_message_path, class: "button is-primary"%>
        <a class="button is-primary" id="receive_msg">Recieve Message</a>
        <%= link_to "Log out", logout_path, method: "delete", class: "button is-primary" %>
      <% else %>
        <a class="button" id="login_col">Log in</a>
        <a class="button" id="signup_col">Sign up</a>
      <% end %>
    </div>
  </div>
</nav>
</div>
</div>
</div>

<script>
$(document).ready(function(){
  $("#receive_msg").click(function(){
           
    $.ajax({
      type: "GET",
      url: "/recieve",
    }).success(function(json){
        console.log(json);
    });
           
  });
});
</script>