<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.css">

<div class="container is-fluid">
<div class="is-half">
<div class="box">
<nav class="nav">
  <div class="columns">
    <div class="column"><a class="button" id="home">Home</a></div>
  </div>
  <div class="nav-center">
    <div class="block">
      <% if logged_in? %>
        <%= link_to "Log out", logout_path, method: "delete", class: "button" %>
        
      <% else %>
        <a class="button" id="login_col">Log in</a>
        <a class="button" id="signup_col">Sign up</a>
      <% end %>
    </div>
  </div>
</nav>
</div>
</div>
</div>