<div id="showA">
<div class="card">
     <div class="card-content" id="msgAppend">
     </div>
</div>   


<div class="field">
  <label class="label">Message</label>
  <p class="control">
    <textarea class="textarea" placeholder="Textarea" id="txt"></textarea>
  </p>
  <br></br>
  <p>
    <a class="button" id="sendMsg">Send</a>
    <a class="button is-warning" id="backB">Back</a>
  </p>
</div>

</div>
