<div class="card" id="msg_collapse">
  <header class="card-header">
    <p class="card-header-title">
      Message Recieved
    </p>
    <a class="card-header-icon">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content" id="body_r">
    </div>
    <input type="hidden" id="thing">
  </div>
  <div class="card-content">
    <a class="card-footer-item button is-info is-inverted" id="saveA">Save</a>
    <a class="card-footer-item button is-danger is-inverted" id="toss">Toss Back</a>
  </div>
</div>

<div class="box" id="saved">
  <article class="message is-primary">
    <div class="message-body">
      Message Saved !!
    </div>
  </article>
</div>

<script>
  $(document).ready(function(){
    $("#saved").hide()
    $("#saveA").click(function(){
      var id = $("#thing").val();
      d = {
        'id': id
      }
      $.ajax({
          type: "POST",
          url: "/save",
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: d
      }).success(function(json){
         $("#msg_collapse").fadeOut("slow", function(){
           $("#saved").slideDown("slow").delay(3000).fadeOut();
         });
      });
    });
    
    $("#toss").click(function(){
      $("#msg_collapse").fadeOut("slow");
    });
  });
</script>