<div class="card" id="msg_collapse">
  <header class="card-header">
    <p class="card-header-title">
      Message Recieved
    </p>
    <a class="card-header-icon">
      <span class="icon">
        <i class="fa fa-angle-down"></i>
      </span>
    </a>
  </header>
  <div class="card-content">
    <div class="content" id="body_r">
    </div>
    <input type="hidden" id="thing">
  </div>
  <div class="card-content">
    <a class="card-footer-item button is-info is-inverted" id="saveA">Save</a>
    <a class="card-footer-item button is-danger is-inverted">Toss Back</a>
  </div>
</div>

<script>
  $(document).ready(function(){
    $("#saveA").click(function(){
      var id = $("#thing").val();
      console.log(id);
    });
  });
</script>