<div class="card" id="signup_card">
  <header class="card-header">
    <p class="card-header-title">
      Sign up Form
    </p>
  </header>
  <div class="card-content">
  <p>
    <div class="columns is-mobile">
      <div class="column is-2 is-offset-1">
        <input class="input" type="text" placeholder="name" id="name">
      </div>
    </div>
  </p>
  <p>
    <div class="columns is-mobile">
      <div class="column is-2 is-offset-1">
        <input class="input" type="text" placeholder="email" id="email">
      </div>
    </div>
  </p>
  <p>
    <div class="columns is-mobile">
      <div class="column is-2 is-offset-1">
        <input class="input" type="password" placeholder="password" id="password">
      </div>
    </div>
  </p>
  <p>
    <div class="columns is-mobile">
      <div class="column is-2 is-offset-1">
        <input class="input" type="password" placeholder="password confirmation" id="password_confirmation">
      </div>
    </div>
  </p>
  <div class="columns is-mobile">
  <div class="column is-2 is-offset-1">
    <button class="button is-primary" id="submit">Sign up</button>
  </div>
  </div>
</div>  
</div>
