<div class="container is-fluid">
  <br></br>
  <%= render 'partials/header' %>
  <%= render 'partials/recieve' %>
</div>

<div class="container is-fluid">
<div class="box">
  <% @bottles.each do |bottle| %>
       <div class="columns is-desktop">
         <div class="column is-10">
           <div class="notification">
             <%= bottle.body %>
           </div>
         </div>
         <div class="column">
           <a>PM sender</a>
         </div>
       </div>
  <%end %>
</div>
</div>

<script type='text/javascript'>
$(document).ready(function(){
  $("#header").hide();
});
</script>

<script>
(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem('firstLoad') )
    {
      localStorage['firstLoad'] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem('firstLoad');
  }
})();
</script>