<div class="container is-fluid">
  <br></br>
  <%= render 'partials/header' %>
  <%= render 'partials/recieve' %>
</div>

<div class="container is-fluid">
<div class="box" id="cor">
  <% @bottles.each do |bottle| %>
       <div class="columns is-desktop">
         <div class="column is-10">
           <div class="notification">
             <%= bottle.body %>
           </div>
         </div>
         <div class="column">
           <a class="button" onclick="my_func(<%= bottle.creator_id %>)">PM sender</a>
         </div>
       </div>
  <%end %>
</div>

<div class="field" id="cmsg">
  <label class="label">Write Message</label>
  <p class="control">
    <textarea class="textarea" placeholder="Textarea"></textarea>
  </p>
  <br></br>
  <div>
    <a class="button is-success" id="postC">Send</a>
    <a class="button is-warning" href="/getmessages">Cancel</a>
  </div>
</div>

</div>

<script type='text/javascript'>
  function my_func(x){
    $(document).ready(function(){
      $("#cor").fadeOut("slow", "swing", function(){
        $("#cmsg").slideDown("fast");
      });
      
      $("#postC").click(function(){
        // create ajax call
        d  = {
          'id' :  x
        }
        $.ajax({
          type: "post",
          url: "/conversation",
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: d
        }).success(function(json){
          console.log(json);
        });
      })
    })
  }
</script>

<script type='text/javascript'>
$(document).ready(function(){
  $("#header").hide();
  $("#cmsg").hide();
});
</script>

<script>
(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem('firstLoad') )
    {
      localStorage['firstLoad'] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem('firstLoad');
  }
})();
</script>